<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViDa.guide - Portfolio</title>
    <meta name="description" content="I'm Sebastián Fco. Gutiérrez Rojas, a passionate Software Engineer specializing in Big Data and Deep Learning.">
    <meta name="keywords" content="portfolio, Sebastián Fco. Gutiérrez Rojas, software engineer, big data, deep learning">
    <link href="/static/css/output.css" rel="stylesheet">

    <!-- Favicon para diferentes tamaños -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/icons8-visible-3d-fluency-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/icons8-visible-3d-fluency-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon/icons8-visible-3d-fluency-96.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="static/images/favicon/apple-touch-icon.png">

</head>
<body class="gradient-background text-white">

    <!-- Main Container with Parallax Effect -->
    <header class="fixed top-0 left-0 w-full z-30 bg-gray-900 bg-opacity-90 flex justify-between items-center p-4 shadow-lg">
        <div class="text-3xl font-bold">ViDa.guide</div>
        
        <!-- Menu Icon for mobile -->
        <div class="md:hidden">
            <button id="menuButton" aria-expanded="false" aria-controls="menu" class="focus:outline-none">
                <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>

        <!-- Menu Links -->
        <nav id="menu" class="hidden md:flex flex-1 justify-center space-x-8" role="navigation">
            <a href="#home" class="hover:text-gray-300" aria-label="Home Section">Home</a>
            <a href="#journey" class="hover:text-gray-300" aria-label="About Section">My Journey</a>
            <a href="#my-skills" class="hover:text-gray-300" aria-label="Skills Section">Skills</a>
            <a href="#portfolio" class="hover:text-gray-300" aria-label="Portfolio Section">Portfolio</a>
            <a href="#contact" class="hover:text-gray-300" aria-label="Contact Section">Contact</a>
        </nav>

        
        <!-- Language Button -->
        <div class="relative">
            <button id="languageButton" class="btn btn-sm btn-outline flex items-center space-x-2 text-white" aria-label="Language Selection">
                <img src="/static/images/flags/EN/24-2.png" alt="English" class="w-5 h-5">
                <span>EN</span>
            </button>
            <!-- Language Dropdown Menu -->
            <div id="languageMenu" class="hidden absolute right-0 mt-2 w-40 bg-white rounded-lg shadow-lg overflow-hidden z-50">
                <a href="#" onclick="setLanguage('EN')" class="flex items-center px-4 py-2 hover:bg-gray-200">
                    <img src="/static/images/flags/EN/24-2.png" alt="English" class="w-5 h-5 mr-2">
                    <span class="text-black">English</span>
                </a>
                <a href="#" onclick="setLanguage('ES')" class="flex items-center px-4 py-2 hover:bg-gray-200">
                    <img src="/static/images/flags/ES/24.png" alt="Español" class="w-5 h-5 mr-2">
                    <span class="text-black">Español</span>
                </a>
                <a href="#" onclick="setLanguage('DE')" class="flex items-center px-4 py-2 hover:bg-gray-200">
                    <img src="/static/images/flags/DE/24-3.png" alt="Deutsch" class="w-5 h-5 mr-2">
                    <span class="text-black">Deutsch</span>
                </a>                
            </div>
        </div>
    </header>



    <!-- Main Content Sections -->
    <main id="home" class="flex flex-col items-center space-y-4 py-12 pt-48 px-4">
        <!-- Section 1: About Me -->
        <section  class="flex flex-col items-center justify-center py-12">
            <div class="bg-gray-900 bg-opacity-70 p-8 rounded-lg shadow-lg flex flex-col-reverse md:flex-row items-center justify-between text-center md:text-left space-y-8 md:space-y-0 mx-auto" style="min-width: 300px; max-width: 1200px; width: 100%; min-height: 410px;">
                <div class="md:w-1/2 pl-4 pr-4 md:pl-8">
                    <h1 class="text-2xl md:text-4xl font-bold about-header text-white" style="padding-top:1rem;">Hi, I'm</h1>
                    <h2 class="text-4xl md:text-6xl font-bold text-white name mt-2 md:mt-4">Sebastián Fco. Gutiérrez Rojas</h2>
                    <h3 class="text-xl md:text-3xl text-yellow-400 role mt-1 md:mt-2">Software Engineer</h3>
                    <p class="text-sm sm:text-base md:text-lg text-white max-w-md description mt-2 md:mt-4 text-justify sm:text-left" style="padding-bottom: 0.5rem;">
                        Specialist in Big Data and Deep Learning. I love solving complex problems and creating innovative solutions...
                    </p>                  
                    <div id="button-group">
                        <a href="/static/content/cv.pdf" target="_blank" rel="noopener noreferrer" class="inline-block bg-yellow-500 text-white px-4 py-2 md:px-6 md:py-3 rounded-lg shadow hover:bg-yellow-400 transition cv-button" style="color:#1a202c;margin-right:0.5rem;">Preview CV</a>
                        <a href="talk" class="inline-block text-white px-4 py-2 md:px-6 md:py-3 rounded-lg shadow-lg hover:red-700 transition talk-button mt-4 md:mt-0" style="border: 2px solid white;">Let's Talk</a>
                    </div>
                              
                </div>
                
                <div class="md:w-1/2 flex justify-center md:justify-end pr-4 md:pr-8 mb-4 md:mb-0">
                    <div class="relative">
                        <img src="/static/images/profile.jpeg" alt="Profile photo of Sebastián Fco. Gutiérrez Rojas" class="w-40 h-40 md:w-64 md:h-64 rounded-full shadow-lg">
                    </div>
                </div>
            </div>
        </section>




        <!-- Curva superior que conecta la sección "about" con "My Journey" -->
        <svg id="journey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none" style="display: block;width: 100vw;height: 100px;margin-bottom: -1px;">
            <path d="M0,40 Q300,80 600,40 Q900,0 1200,40 L1200,100 L0,100 Z" fill="#1a202c"></path>
        </svg>

        <!-- Sección My Journey -->
        <section id="my-journey" class="w-screen text-white pt-4 pb-12 flex justify-center" style="background: #1a202c; position: relative; overflow: hidden; margin-top: 0px;">
            <div class="max-w-7xl w-full px-4 z-10">
                <h2 class="text-4xl font-bold mb-12 text-center text-white">Meine Reise</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <!-- Education Column -->
                    <div>
                        <h3 class="text-2xl font-semibold mb-6 text-white">Education</h3>
                        <div class="space-y-4">
                            <div class="education-item p-6 rounded-lg shadow-lg" style="background: linear-gradient(130deg, hsla(230, 59%, 30%, 1) 55%, hsla(359, 73%, 39%, 1) 75%, hsla(32, 97%, 59%, 1) 95%);">
                                <h4 class="text-xl font-bold text-white">Software Engineering - U-tad</h4>
                                <p class="text-gray-200">Graduated: 2024. Specialization in Big Data with strong skills in full-stack development, cloud computing, and distributed systems.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Experience Column -->
                    <div>
                        <h3 class="text-2xl font-semibold mb-6 text-white">Experience</h3>
                        <div class="space-y-4">
                            <div class="experience-item p-6 rounded-lg shadow-lg" style="background: linear-gradient(60deg, hsla(230, 59%, 30%, 1) 55%, hsla(359, 73%, 39%, 1) 75%, hsla(32, 97%, 59%, 1) 95%);">
                                <h4 class="text-xl font-bold text-white">Product and Service Developer - Worksync.ai</h4>
                                <p class="text-gray-200">January 2024 – Present. Developed and launched an AI-powered Chrome extension to streamline job application processes.</p>
                            </div>
                            <div class="experience-item p-6 rounded-lg shadow-lg" style="background: linear-gradient(130deg, hsla(230, 59%, 30%, 1) 55%, hsla(359, 73%, 39%, 1) 75%, hsla(32, 97%, 59%, 1) 95%);">
                                <h4 class="text-xl font-bold text-white">Professor of IOS - U-tad</h4>
                                <p class="text-gray-200">September 2023 – Present. Developed and delivered course materials in operating systems, facilitating a collaborative learning environment.</p>
                            </div>
                            <div class="experience-item p-6 rounded-lg shadow-lg" style="background: linear-gradient(60deg, hsla(230, 59%, 30%, 1) 55%, hsla(359, 73%, 39%, 1) 75%, hsla(32, 97%, 59%, 1) 95%);">
                                <h4 class="text-xl font-bold text-white">Web Development and Design Lead - Sleepzzone</h4>
                                <p class="text-gray-200">June 2022 – September 2022. Redesigned the company's landing page and e-commerce platform using Webflow, improving user experience and functionality.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
                

        <!-- Curva inferior que conecta la sección "My Journey" con la siguiente sección -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none" style="display: block; width: 100vw; height: 100px; margin-top:-1px; transform: scaleY(-1);">
            <path d="M0,40 Q300,80 600,40 Q900,0 1200,40 L1200,100 L0,100 Z" fill="#1a202c"></path>
        </svg>
        

        <section id="my-skills" class="w-full py-20 px-4 sm:px-6 lg:px-8" style="padding: 4rem 6rem 4rem 6rem;">
            <div class="max-w-5xl mx-auto">
                <h2 class="text-5xl font-bold text-center text-white mb-12">My Skills</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <!-- Habilidades Técnicas -->
                    <div id="technical-skill">
                        <h3 class="text-3xl font-semibold text-white mb-6">Technical Skills</h3>
                        <div class="space-y-6">
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Big Data & Distributed Systems</h4>
                            </div>
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Deep Learning Frameworks</h4>
                            </div>
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Data Processing & ETL</h4>
                            </div>
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Cloud Services & Orchestration</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Habilidades Complementarias -->
                    <div id="complementary-skill">
                        <h3  class="text-3xl font-semibold text-white mb-6">Complementary Skills</h3>
                        <div class="space-y-6">
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Frontend & Backend Development</h4>
                            </div>
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Database Management</h4>
                            </div>
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg" style="margin:0rem 0rem 1rem 0rem;">
                                <h4 class="text-2xl font-bold text-white">Robotics & IoT</h4>
                            </div>
                            <div class="p-4 bg-gray-900 bg-opacity-70 rounded-lg shadow-lg">
                                <h4 class="text-2xl font-bold text-white">Software Engineering Practices</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        

    </main> 
    <!-- End of Main Content -->

    <div>
        <!-- Curva superior que conecta la sección "about" con "My Journey" -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none" style="display: block; width: 100vw; height: 100px; margin-bottom: 0px;transform: scaleX(-1);">
            <path d="M0,40 Q300,80 600,40 Q900,0 1200,40 L1200,100 L0,100 Z" fill="#1a202c"></path>
        </svg>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-900 text-gray-400 py-12 px-6 text-center shadow-md w-full" style="padding: 1rem 2rem; background: #1a202c; margin-top:-1px;">

        <!-- Sección de Contacto con Tarjeta Flotante -->
        <section id="contact" class="w-full flex justify-center items-center py-20" style="margin-bottom:0px;">
            <div class="max-w-4xl bg-gray-900 bg-opacity-80 rounded-lg shadow-lg p-8 text-white">
                <div class="w-full text-center">
                    <h2 class="text-3xl font-bold mb-2">Contact Me</h2>
                    <p class="text-lg mb-4">Feel free to reach out to me via email or connect on social media.</p>
                    <p class="text-base">
                        <strong>Email:</strong> <a href="mailto:sebastianfrancisco121@gmail.com" class="text-yellow-400">sebastianfrancisco121@gmail.com</a><br>
                        <strong>Phone:</strong> <a href="tel:+34 655 408 703" class="text-yellow-400">+34 655 408 703</a>
                    </p>
                    <div class="flex justify-center space-x-4 mt-6">
                        <a href="https://github.com/tianfsg" target="_blank" class="text-yellow-400 hover:text-white transition">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M12 2a10 10 0 00-3.16 19.49c.5.09.68-.21.68-.48v-1.7c-2.78.61-3.37-1.33-3.37-1.33-.45-1.15-1.1-1.45-1.1-1.45-.9-.61.07-.6.07-.6 1 .08 1.53 1.04 1.53 1.04.89 1.52 2.33 1.08 2.9.82.09-.65.35-1.08.64-1.33-2.22-.25-4.55-1.11-4.55-4.96 0-1.1.39-1.99 1.02-2.7-.1-.26-.44-1.3.1-2.7 0 0 .84-.27 2.75 1.03a9.58 9.58 0 015 0c1.9-1.3 2.75-1.03 2.75-1.03.54 1.41.2 2.44.1 2.7.63.71 1.02 1.6 1.02 2.7 0 3.86-2.33 4.71-4.55 4.96.36.31.68.92.68 1.85v2.74c0 .28.18.59.69.48A10.02 10.02 0 0012 2z"/>
                            </svg>
                        </a>
                        <a href="https://linkedin.com/in/seguro" target="_blank" class="text-yellow-400 hover:text-white transition">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M16.5 8a6.27 6.27 0 00-4.5 1.9A6.27 6.27 0 007.5 8C5.2 8 4 10.14 4 12.5v7a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-7c0-.88.36-2.5 2.5-2.5s2.5 1.62 2.5 2.5v7a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-7c0-2.36-1.2-4.5-3.5-4.5zm-.5 9h-3v-7c0-.22-.18-2.5-2.5-2.5-2.32 0-2.5 2.28-2.5 2.5v7h-3v-7C4 10.36 4.36 8 7.5 8c2.82 0 3.5 2.68 3.5 4.5v7h3v-7c0-1.82.68-4.5 3.5-4.5 2.82 0 3.5 2.68 3.5 4.5v7a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-7C24 10.14 22.8 8 20.5 8A6.27 6.27 0 0016.5 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
                <!-- Link Section -->
                <div id="terms" class="flex space-x-4">
                    <a href="#" class="hover:text-white">Privacy</a>
                    <a href="#" class="hover:text-white">Cookies</a>
                    <a href="#" class="hover:text-white">Terms and Conditions</a>
                    <a href="#" class="hover:text-white">Legal Notice</a>
                </div>
                <!-- Signature -->
                <div class="text-center md:text-right">
                    <p>© 2024. All Rights Reserved. Created by <span class="font-bold">Sebastián Fco. Gutiérrez Rojas</span>.</p>
                </div>
            </div>
        </div>
        
    </footer>

    <!-- Scripts -->
    <script src="/static/js/language.js" defer></script>
    <script src="/static/js/menu.js" defer></script>

</body>
</html>
