<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Notice | Vida Guide</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="gradient-background text-white">
    <header class="fixed top-0 left-0 w-full z-30 bg-gray-900 bg-opacity-90 flex justify-between items-center p-4 shadow-lg">
        <div class="text-3xl font-bold">ViDa.guide</div>
        <nav class="hidden md:flex flex-1 justify-center space-x-8" role="navigation">
            <a href="/" class="hover:text-gray-300" aria-label="Home Section">Home</a>
            <a href="/#journey" class="hover:text-gray-300" aria-label="About Section">My Journey</a>
            <a href="/#my-skills" class="hover:text-gray-300" aria-label="Skills Section">Skills</a>
            <a href="/#portfolio" class="hover:text-gray-300" aria-label="Portfolio Section">Portfolio</a>
            <a href="/#contact" class="hover:text-gray-300" aria-label="Contact Section">Contact</a>
        </nav>
    </header>
    
    <main class="pt-48 px-4">
        <section class="max-w-5xl mx-auto p-8 bg-gray-900 bg-opacity-80 rounded-lg shadow-lg">
            <h1 id="legalNoticeTitle" class="text-4xl font-bold mb-6">Legal Notice</h1>
            <p id="legalNoticeContent" class="mb-4">This Legal Notice governs the use of the Vida Guide website...</p>

            <h2 id="websiteOwner" class="text-2xl font-semibold mb-2">Website Owner</h2>
            <p id="websiteOwnerDetails" class="mb-4">The website <strong>Vida Guide</strong> is operated by [Your Company Name]...</p>

            <h2 id="disclaimer" class="text-2xl font-semibold mb-2">Disclaimer</h2>
            <p id="disclaimerDetails" class="mb-4">The content on this website is provided "as is" without any warranties...</p>

            <h2 id="governingLaw" class="text-2xl font-semibold mb-2">Governing Law</h2>
            <p id="governingLawDetails" class="mb-4">This Legal Notice is governed by and construed in accordance with the laws...</p>

            <h2 id="contactUs" class="text-2xl font-semibold mb-2">Contact Us</h2>
            <p id="contactUsDetails">If you have any questions about this Legal Notice, please contact us at <a href="mailto:contact@vida.guide" class="text-yellow-400">contact@vida.guide</a>.</p>
        </section>
    </main>
    
    <footer class="bg-gray-900 text-gray-400 py-12 px-6 text-center shadow-md">
        <p>© 2024. All Rights Reserved. Created by <span class="font-bold">Sebastián Fco. Gutiérrez Rojas</span>.</p>
    </footer>
        <!-- Incluir el script de cambio de idioma en el head o antes de cerrar el body -->
<script src="/static/js/language.js" defer></script>
</body>
</html>
